<div class="row">
	<a id="chiudi-accedi-view" href="#home"> <i
		class="material-icons bianco right">&#xE5CD;</i>
	</a>
</div>

<div id="logo" class="row">
	<img src="res/logo.png">
</div>

<div class="row">
	<form id="accedi-form">
		<div class="row">
			<div class="row">
				<div class="input-field">
					<i class="material-icons prefix">email</i> <input id="email"
						type="email" data-validation="email"> <label for="email">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field">
					<i class="material-icons prefix">lock</i> <input id="password"
						type="password" data-validation="required"> <label for="password">Password</label>
				</div>
			</div>
		</div>
		<div id="registrati-switch" class="row">
			Sei nuovo? <a href="#registrazione">Registrati</a>
		</div>
	</form>
</div>

<div class="row">
	<div class="input-field">
		<a id="accedi" class="waves-effect btn-flat green lighten-5">Accedi</a>
	</div>
</div>