<div class="row">
	<a id="chiudi-accedi-view" href="#home"> <i
		class="material-icons bianco right">&#xE5CD;</i>
	</a>
</div>
<div class="row">
	<form class="col s12">

		<!-- Dati personali -->
		<div class="row">
			<div class="row">
				<div class="input-field col s12 section-title">
					<input disabled type="text"><label>Accedi</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<input id="email" type="email" class="validate"> <label
						for="email">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<input id="password" type="password" class="validate"> <label
						for="password">Password</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<a class="waves-effect btn-flat green lighten-5">Accedi</a>
				</div>
			</div>
		</div>

		<a href="#registrazione"
			class="waves-effect waves-light btn green bottom-button">Non hai
			un account? Registrati</a>

	</form>
</div>