<ul id="categorie-lista" class="collection margin-bottom">
	<li class="collection-item waves-effect"><div>
			Prodotti biologici<a class="secondary-content"><i
				class="material-icons grigio">navigate_next</i></a>
		</div></li>
	<li class="collection-item waves-effect"><div>
			Prodotti del forno<a class="secondary-content"><i
				class="material-icons grigio">navigate_next</i></a>
		</div></li>
	<li class="collection-item waves-effect"><div>
			Ortaggi<a class="secondary-content"><i class="material-icons grigio">navigate_next</i></a>
		</div></li>
	<li class="collection-item waves-effect"><div>
			Frutta<a class="secondary-content"><i class="material-icons grigio">navigate_next</i></a>
		</div></li>
	<li class="collection-item waves-effect"><div>
			Legumi e frutta secca<a class="secondary-content"><i
				class="material-icons grigio">navigate_next</i></a>
		</div></li>
	<li class="collection-item waves-effect"><div>
			Formaggi<a class="secondary-content"><i class="material-icons grigio">navigate_next</i></a>
		</div></li>
	<li class="collection-item waves-effect"><div>
			Olio<a class="secondary-content"><i class="material-icons grigio">navigate_next</i></a>
		</div></li>
	<li class="collection-item waves-effect"><div>
			Vino<a class="secondary-content"><i class="material-icons grigio">navigate_next</i></a>
		</div></li>
	<li class="collection-item waves-effect"><div>
			Miele<a class="secondary-content"><i class="material-icons grigio">navigate_next</i></a>
		</div></li>
	<li class="collection-item waves-effect"><div>
			Sott'oli e condimenti<a class="secondary-content"><i
				class="material-icons grigio">navigate_next</i></a>
		</div></li>
	<li class="collection-item waves-effect"><div>
			Confetture e conserve<a class="secondary-content"><i
				class="material-icons grigio">navigate_next</i></a>
		</div></li>
	<li class="collection-item waves-effect"><div>
			Carne<a class="secondary-content"><i class="material-icons grigio">navigate_next</i></a>
		</div></li>
</ul>