<!-- barra filtraggio -->
<div id="barra-filtraggio" class="nav-wrapper green displaynone">
	<span>{{quantita_risultati}} risultati</span>
	<ul id="dropdown" class="dropdown-content">
		<li><input name="group1" type="radio" id="pr1" /> <label
			for="pr1" id="prezzo-crescente">Prezzo crescente</label></li>
		<li><input name="group1" type="radio" id="pr2" /> <label
			for="pr2" id="prezzo-decrescente">Prezzo decrescente</label></li>
	</ul>
	<a id="filtra" class="btn-flat dropdown-button right"
		data-activates="dropdown">Filtra<i class="material-icons">keyboard_arrow_down</i></a>
</div>

<!-- colonna sx -->
<div id="col-sx" class="col s6"></div>

<!-- colonna dx -->
<div id="col-dx" class="col s6"></div>