<!-- <div class="side-nav" id="mobile-demo"> -->
<div id="menu-header" class="green darken-2">
	<img src="res/logo.png"
		style="vertical-align: middle; height: 80px; margin: 10px;"> <span>{{nome}}</span>
</div>
<ul id="menu-list">
	<li><a class="waves-effect" href="#home"><i
			class="material-icons md-dark left">&#xE88A;</i>Home</a></li>
	<li><a class="waves-effect" href="#categorie"><i
			class="material-icons md-dark left">&#xE896;</i>Categorie</a></li>
	<li><a class="waves-effect" href="#aziende"><i
			class="material-icons md-dark left">&#xE7FB;</i>Aziende</a></li>
	<li class="border-top"><a id="profilo" class="waves-effect"
		href="#profilo"><i class="material-icons md-dark left">&#xE7FD;</i>Profilo</a></li>
	<li><a class="waves-effect" href="#ordini"><i
			class="material-icons md-dark left">&#xE558;</i>Ordini</a></li>
</ul>
<ul id="menu-accedi">
	<li class="border-top"><a id="accedi" class="waves-effect"
		href="#accedi"><i class="material-icons">&#xE879;</i><span>Accedi</span></a><a
		id="disconnetti" class="waves-effect"><i class="material-icons">&#xE879;</i><span>Disconnetti</span></a></li>
</ul>
<!-- </div> -->