<div data-id="{{id}}" class="card waves-effect">
	<i data-id="{{id}}" id="rimuovi-prodotto" class="material-icons">close</i>
	<div class="row">
		<div class="col s4">
			<img src="{{immagine_default}}">
		</div>
		<div class="col s8">
			<div class="card-content">
				<p class="nome-prodotto grey-text text-darken-4">{{nome}}</p>
				<p class="azienda">{{azienda}}</p>
				<p class="disponibilita">Disponibilit&agrave;: {{disponibilita}}</p>
			</div>
			<div class="card-action row">
				<div class="col s4">
					<a data-id="{{id}}" id="decrementa-quantita" class="left btn-flat"><i
						class="material-icons">remove</i></a>
				</div>
				<div class="col s4 info-prezzo">
					<div class="row prezzo-cadauno">{{quantita}} x
						{{prezzo}}&#128;</div>
					<div class="row grey-text text-darken-4">{{totale}}&#128;</div>
				</div>
				<div class="col s4">
					<a data-id="{{id}}" id="incrementa-quantita" class="right btn-flat"><i
						class="material-icons">add</i></a>
				</div>
			</div>
		</div>
	</div>
</div>