<!-- <div class="card waves-effect">
	<div class="card-image">
		<img src="img/office.jpg">
	</div>
	<div class="card-content">
		<span class="card-title grey-text text-darken-4">Nome prodotto</span>
		<p class="grey-text text-darken-2 azienda">Azienda agricola</p>
		<p class="grey-text text-darken-4">10,80&#128;</p>
	</div>
</div> -->

<div data-id="{{id}}" class="card waves-effect">
	<div class="card-image">
		<img src="{{img}}">
	</div>
	<div class="card-content">
		<span class="card-title grey-text text-darken-4">{{nome}}</span>
		<p class="grey-text text-darken-2 azienda">{{azienda}}</p>
		<p class="grey-text text-darken-4">{{prezzo}}&#128;</p>
	</div>
</div>