<div class="row">
	<div class="col s4">
		<img src="img/office.jpg">
	</div>
	<div class="col s8">
		<div class="card-content">
			<p>Prodotto</p>
			<p>Azienda</p>
			<p>Disponibile</p>
			<p>20&#128;</p>
		</div>
		<div class="card-action">
			<a id="decrementa-quantita"><i class="material-icons">remove</i></a>
			<span id="quantita">{{ quantita }}</span> <a id="incrementa-quantita"><i
				class="material-icons">add</i></a>
		</div>
	</div>
</div>

<i id="rimuovi-prodotto" class="material-icons">close</i>