<!-- <div data-id="{{id}}" class="row card waves-effect">
	<div class="col s4">
		<img src="{{immagine_default}}">
	</div>
	<div class="col s8">
		<div class="card-content">
			<p class="grey-text text-darken-4">{{nome}}</p>
			<p class="grey-text text-darken-2 azienda">{{azienda}}</p>
			<p class="disponibilita">Disponibilit&agrave;: {{disponibilita}}</p>
			<p class="grey-text text-darken-2 azienda">Ordinato il: {{data}}</p>
			<p class="prezzo grey-text text-darken-4">{{prezzo}}&#128;</p>
		</div>
	</div>
</div> -->

<div data-id="{{id}}"
	class="col s12 m7 row card horizontal waves-effect valign-wrapper">
	<div class="card-image">
		<img src="{{immagine_default}}">
	</div>
	<div class="card-stacked">
		<div class="card-content">
			<p class="grey-text text-darken-4">{{nome}}</p>
			<p class="grey-text text-darken-2 azienda">{{azienda}}</p>
			<p class="grey-text text-darken-2 azienda">Ordinato il: {{data}}</p>
			<p class="prezzo grey-text text-darken-4">{{prezzo}}&#128;</p>
		</div>
	</div>
</div>