<div class="row">
	<a id="chiudi-registrazione-view" href="#home"> <i
		class="material-icons bianco right">&#xE5CD;</i>
	</a>
</div>

<div id="logo" class="row">
	<img src="res/logo.png">
</div>

<div class="row">
	<form id="registrazione-form">
		<div class="row">
			<div class="row">
				<div class="input-field">
					<i class="material-icons prefix">person</i> <input id="first_name"
						type="text" required> <label
						for="first_name">Nome</label>
					<div id="nome-error" class="form-error">Solo lettere</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field">
					<i class="material-icons prefix">person</i> <input id="last_name"
						type="text" required> <label
						for="last_name">Cognome</label>
					<div id="cognome-error" class="form-error">Solo lettere</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field">
					<i class="material-icons prefix">email</i> <input id="email"
						type="email" required> <label
						for="email">Email</label>
					<div id="email-usata" class="form-error">Indirizzo email gi&#224; usato</div>
					<div id="email-error" class="form-error">Indirizzo email non valido</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field">
					<i class="material-icons prefix">lock</i> <input id="password"
						type="password" required> <label
						for="password">Password</label>
					<div id="password-error" class="form-error">Almeno 6 caratteri</div>
				</div>
			</div>
		</div>
		<div id="accedi-switch" class="row">
			Hai un account? <a href="#accedi">Accedi</a>
		</div>
	</form>
</div>

<div class="row">
	<div class="input-field">
		<a id="registrati" class="waves-effect btn-flat green lighten-5">Registrati</a>
	</div>
</div>