<div class="row">
	<a id="chiudi-registrazione-view" href="#home"> <i
		class="material-icons bianco right">&#xE5CD;</i>
	</a>
</div>
<div class="row">
	<form class="col s12">

		<!-- Dati personali -->
		<div class="row">
			<div class="row">
				<div class="input-field col s12 section-title">
					<input disabled type="text"><label>Registrazione</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<input id="first_name" type="text" class="validate"> <label
						for="first_name">Nome</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<input id="last_name" type="text" class="validate"> <label
						for="last_name">Cognome</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<input id="email" type="email" class="validate"> <label
						for="email">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<input id="password" type="password" class="validate"> <label
						for="password">Password</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<input id="confirm_password" type="password" class="validate">
					<label for="confirm_password">Reinserisci la Password</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<a class="waves-effect btn-flat green lighten-5">Registrati</a>
				</div>
			</div>
		</div>

		<a href="#accedi"
			class="waves-effect waves-light btn green bottom-button">Hai gi&agrave;	
			un account? Accedi</a>

	</form>
</div>