<div class="row">
	<div class="input-field col s6">
		<i class="material-icons prefix">person</i> <input id="first_name"
			type="text" value="{{nome}}" placeholder="Inserisci nome" disabled>
		<label class="active" for="first_name">Nome</label>
		<div id="nome-error" class="form-error">Solo lettere</div>
	</div>
	<div class="input-field col s6" style="padding-left: 10px;">
		<input id="last_name" type="text" value="{{cognome}}"
			placeholder="Inserisci cognome" disabled> <label
			class="active" for="last_name" style="left: 32px;">Cognome</label>
			<div id="cognome-error" class="form-error">Solo lettere</div>
	</div>
</div>

<div class="row">
	<div class="input-field">
		<i class="material-icons prefix">email</i> <input id="email"
			type="email" value="{{email}}" placeholder="Inserisci email" disabled>
		<label class="active" for="email">Email</label>
		<div id="email-usata" class="form-error">Indirizzo email gi&#224; usato</div>
		<div id="email-error" class="form-error">Indirizzo email non valido</div>
	</div>
</div>

<div class="row">
	<div class="input-field">
		<i class="material-icons prefix">location_on</i> <input id="indirizzo"
			type="text" value="{{indirizzo}}" placeholder="Inserisci indirizzo">
		<label class="active" for="indirizzo">Indirizzo</label>
	</div>
</div>

<div class="row">
	<select id="citta"> {{#each lista_citta}}
		<option value="{{@index}}">{{this}}</option> {{/each}}
	</select>
</div>

<div class="row">
	<i class="material-icons" style="margin-top: 8px; position: absolute;">payment</i>
	<select id="pagamento">
		<option selected>Pagamento in contrassegno</option>
		<option disabled>Pagamento con carta di credito</option>
	</select>
</div>

<div id="btn-bottom-container">
	<a id="conferma-ordine"
		class="btn-large disabled waves-effect waves-green green darken-2">Conferma
		l'ordine <span>|</span> {{totale}}&#128; <i
		class="material-icons right">keyboard_arrow_right</i>
	</a>
</div>