<div id="info-prodotto" class="row">
	<p class="card-title grey-text text-darken-4 grassetto">{{nome}}</p>
	<p class="grey-text text-darken-1 font-medio">{{azienda}}</p>
	<p class="grey-text text-darken-1 font-medio">Disponibilit&agrave;:
		{{disponibilita}}</p>
	<p class="grey-text text-darken-4 grassetto">{{prezzo}}&#128;</p>
	<p class="grey-text text-darken-1 font-medio">{{descrizione}}</p>
	<div id="modifica-quantita" class="row">
		<div class="col s4">
			<a id="decrementa-quantita" class="left btn-flat waves-effect"><i
				class="material-icons">remove</i></a>
		</div>
		<div id="quantita" class="col s4 center grassetto">{{quantita}}</div>
		<div class="col s4">
			<a class="right btn-flat waves-effect" id="incrementa-quantita"><i
				class="material-icons">add</i></a>
		</div>
	</div>
	<a id="aggiungi-al-carrello"
		class="btn-large waves-effect waves-green green darken-2 font-medio">Aggiungi
		al carrello <span>|</span> <span id="totale">{{totale}}</span>&#128; <i
		class="material-icons left">add_shopping_cart</i>
	</a>
</div>