/* STANDARD FOR MOBILE */
* {
	/* transparent link and button selection */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	-webkit-touch-callout: none;
	/* no callouts during tap and hold */
	-webkit-text-size-adjust: none;
	/* no fonts auto inflation */
	-webkit-user-select: none;
	/* no copy and paste, etc. */
	background-attachment: fixed;
	font-family: OpenSans, sans-serif;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

/* END STANDARD MOBILE */
/* CUSTOM FONTS */
@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Italic.ttf) format("truetype");
	font-style: italic;
}

@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
	font-weight: bold;
}

/* END CUSTOM FONTS */
/* START STRUCTURE */
#main {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	overflow: hidden;
}

.displaynone {
	display: none;
}

.invisible {
	visibility: hidden;
}

#content {
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.page {
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.scrollable {
	-webkit-overflow-scrolling: touch;
}

.not_scrollable {
	-webkit-overflow-scrolling: auto;
}

/* END STRUCTURE */
#map {
	height: 100%;
	width: 100%;
}

/* Da qui in poi, by Marco */
/* html {
	font-size: 16px;
} */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../lib/materialize/iconfont/MaterialIcons-Regular.eot);
	/* For IE6-8 */
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(../lib/materialize/iconfont/MaterialIcons-Regular.woff2)
		format('woff2'),
		url(../lib/materialize/iconfont/MaterialIcons-Regular.woff)
		format('woff'),
		url(../lib/materialize/iconfont/MaterialIcons-Regular.ttf)
		format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}
/* statusbar, l'altezza della statusbar di android misura 24px */
#statusbar {
	height: 24px;
}
/* ombra nav headbar */
#headbar nav {
	/* box-shadow: 0 2px 4px 0px rgba(0,0,0,0.16),0 4px 9px 0 rgba(0,0,0,0.12); */
	
}
/* grandezza icone headbar */
#headbar i {
	font-size: 24px;
}
/* font headbar */
#titolo {
	font-weight: bold;
	font-size: 18px;
	float: left;
	margin-left: 10px;
}

#sottotitolo {
	position: absolute;
	left: 65px;
	line-height: 80px;
}
/* annullo il comportamento hover */
#headbar a:hover {
	background-color: unset;
}
/* abilito il comportamento active quando tappo */
/* #headbar a:active {
	background-color: green;
} */
/* annullo il comportamento hover */
#content a:hover {
	background-color: unset;
}
/* padding div contenitore delle view */
#content {
	height: 100%;
	height: calc(100% - 80px);
}
/* menu laterale */
#mobile-demo {
	/* position: absolute;
	height: 100%;
	transform: translateX(-100%); */
	top: 0px;
	overflow-y: hidden;
	height: 100%;
}
/* menu laterale link */
#mobile-demo a {
	color: #707070;
	padding: 0 0 0 15px;
	font-weight: bold;
	font-size: unset;
	height: 64px;
	line-height: 65px;
}
/* abilito il comportamento active quanto tappo */
/* #mobile-demo a:active {
	background-color: #d4d4d4;
} */
/* marigini icone menu laterale */
#mobile-demo i {
	margin-right: 30px;
	line-height: 64px;
}

#mobile-demo ul {
	margin: 0;
}

#menu-header {
	color: white;
	font-weight: bold;
	font-size: 24px;
	height: 120px;
	padding-top: 24px;
}

#menu-list {
	/* 
	height: calc(100% - 56px);
	height: -moz-calc(100% - 56px);
	height: -o-calc(100% - 56px);
	height: -webkit-calc(100% - 56px); */
	/* height: 88%; */
	height: 78%;
	overflow-y: auto;
	position: relative;
}

#menu-accedi {
	/* bottom: 56px; */
	bottom: 0;
	position: fixed;
	width: 100%;
}

#menu-accedi i {
	
}

.border-top {
	border-top: 1px solid #e9e9e9;
}
/* div che si scurisce per effetto fading del menu */
#sidenav-overlay {
	/* display: none; */
	z-index: 998;
}
/* classe per div che si scurisce per effetto fading del menu */
.drag-target {
	/* display: none; */
	z-index: 999;
	/* top: 56px; */
	top: 80px;
}

@media only screen and (min-width: 601px) {
	#mobile-demo {
		/* top: 64px; */
		
	}
	/* quando il browser android supporterà calc(), decommentare */
	/* #menu-list {
		height: calc(100% - 64px);
		height: -moz-calc(100% - 64px);
		height: -o-calc(100% - 64px);
		height: -webkit-calc(100% - 64px);
	} */
	#menu-list {
		/* height: 75%; */
		height: 58%;
	}
	#menu-accedi {
		/* bottom: 64px; */
		bottom: 0;
		position: fixed;
		width: 100%;
	}
	.drag-target {
		/* top: 64px; */
		top: 88px;
		/* width: 60% !important; */
	}
	#headbar a {
		padding: 0 20px;
	}
	#barra-ricerca {
		margin: 0 4.8rem !important;
	}
	#barra-ricerca input-field {
		padding: 0px 64px;
	}
	#barra-ricerca input {
		height: 63px !important;
	}
	#registrazione-view {
		margin-bottom: 82px;
		height: auto !important;
	}
	#logo {
		display: none !important;
	}
}

/* #cerca {
	padding: 0 8px 0 15px;
}

#carrello {
	padding: 0 15px 0 8px;
} */

/* HOME da qui in poi */
/* cards */
#home-view {
	padding: 10px;
}

#home-view .card .card-content {
	padding: 15px;
}

#home-view .card .card-content .azienda {
	font-size: 12px;
}

#home-view .card .card-content .card-title {
	line-height: unset;
}

#home-view .card .card-title {
	font-size: unset;
	/* font-weight: bold; */
}

#home-view #home-row {
	/*padding-bottom: 50px;*/
	
}

#home-view #home-col-sx, #home-view #home-col-dx {
	padding: 0 0.35rem 0 0.35rem;
}

/* CERCA */
#cerca-view {
	padding: 10px;
}

#cerca-view .card .card-content {
	padding: 15px;
}

#cerca-view .card .card-content .azienda {
	font-size: 12px;
}

#cerca-view .card .card-content .card-title {
	line-height: unset;
}

#cerca-view .card .card-title {
	font-size: unset;
	/* font-weight: bold; */
}

#cerca-view #cerca-row {
	/*padding-bottom: 50px;*/
	
}

#cerca-view #col-sx, #cerca-view #col-dx {
	padding: 0 0.35rem 0 0.35rem;
}

#cerca-view img {
	width: 100%;
	max-width: 100%;
}

#barra-ricerca-view {
	position: absolute;
	left: 0px;
	width: 100%;
}

#barra-ricerca {
	margin: 0 4rem;
}

#barra-ricerca .input-field {
	padding: 0px 50px;
	border-bottom: 1px solid;
	border-color: white;
	font-size: 16px;
	font-weight: normal;
	margin: 0 !important;
}

#barra-ricerca input {
	height: 55px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-weight: normal;
	background-color: transparent;
	color: white;
}

#barra-ricerca i {
	color: white;
}

.margin-bottom {
	margin-bottom: 100px;
}

.grigio {
	color: #707070;
}

/* Categorie */
#categorie-view {
	background-color: white;
	margin: 1rem;
}

#categorie-view ul {
	background-color: white;
}

#categorie-view li {
	background-color: unset;
	display: block;
	padding: 10px 20px 0px 20px;
	/* padding: 15px 20px 5px 20px; */
}

#categorie-view li a {
	display: block;
}

/* Preloader Circolare */
.cover-full {
	text-align: center;
	position: fixed;
	top: 24px;
	margin: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	left: 0px;
	background-color: white;
	z-index: 997;
}

#preloader-circolare {
	top: 50%;
}

/* box shadow delle card */
.card {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0
		rgba(0, 0, 0, 0.12);
}

/* Profilo */
.input-field {
	/*margin: 0;
	margin-left: 10px !important;*/
	
}

.input-field>label {
	font-size: 12px;
	left: 0;
}

.input-field>select {
	display: block;
	right: 0;
	border: 0;
	border-bottom: 1px solid #9e9e9e;
	padding: 0;
	font-size: 12px;
	margin-left: 0;
	color: #9e9e9e;
}

/* class valid, esce la cosa verde sotto

border-bottom: 1px solid #4CAF50;
box-shadow: 0 1px 0 0 #4CAF50;

*/
.input-field>select:focus {
	outline: none;
}

.input-field>input {
	margin: 0;
}

.switch-profilo {
	margin-top: 8px;
	margin-left: -32px !important;
}

/* ----------------profilo 2---------------- */
#profilo-view {
	background-color: #eeeeee;
	height: calc(100% - 7px);
	padding: 0;
}

#profilo-view ul {
	box-shadow: 0 2px 2px #aaaaaa;
	padding-bottom: 1px;
	border: 0;
}

#profilo-view li {
	display: block;
	/*padding: 10px 0px 0px 0px;*/
	border: 0;
}

#profilo-view .collection-header {
	border: 0px none;
	color: #388e3c;
	font-weight: bold !important;
	padding: 15px 0px 0px 30px;
	font-size: 13px;
}

#profilo-view label {
	left: 30px;
}

#profilo-view input {
	padding-left: 30px;
	border-color: #f2f2f2;
}

#profilo-view select {
	display: block;
	padding-left: 25px;
}

select:focus {
	outline: unset;
}

#profilo-view .select-list {
	padding: 0;
}

#dati-personali li {
	padding: 10px 0px 0px 0px;
}

#dati-spedizione li {
	padding: 10px 0px 10px 30px;
}

#recapito-element {
	padding: 10px 0 0 0 !important;
}

#modalita-pagamento-list {
	margin-bottom: 0;
}

#modalita-pagamento-list select {
	border: 0px;
	border-bottom: 1px solid #f2f2f2;
}

#credits-app {
	color: #c2c2c2;
	text-align: center;
}

/* Accedi */
#accedi-view {
	height: 100%;
	background-color: #4caf50;
	text-align: center;
}

#accedi-view form {
	padding: 0px 30px 0px 30px;
	text-align: left;
}

#accedi-view img {
	height: 120px;
}

#accedi-view input {
	border-bottom: 1px solid white !important;
	color: white;
	margin-left: 0;
	padding-left: 43px;
}

#accedi-view label {
	color: white !important;
}

#accedi-view .btn-flat {
	color: #4caf50;
	border: 0;
	margin: 0 auto;
	width: 50%;
}

#accedi-view i {
	color: white;
	margin-top: 7px;
}

#chiudi-accedi-view i {
	margin-top: 40px;
	margin-right: 16px;
}

#accedi-view label {
	color: white !important;
}

#registrati-switch {
	float: right;
	margin: -35px 0px 0px;
	font-size: 12px;
	color: white;
}

#registrati-switch a {
	color: white;
}

/* Registrazione */
#registrazione-view {
	height: 100%;
	background-color: #4caf50;
	text-align: center;
}

#registrazione-view form {
	padding: 0px 30px 0px 30px;
	text-align: left;
}

#registrazione-view img {
	height: 120px;
}

#registrazione-view input {
	border-bottom: 1px solid white !important;
	color: white;
	margin-left: 0;
	padding-left: 43px;
}

#registrazione-view label {
	color: white !important;
}

#registrazione-view .btn-flat {
	color: #4caf50;
	border: 0;
	margin: 0 auto;
	width: 50%;
}

#registrazione-view i {
	color: white;
	margin-top: 7px;
}

#chiudi-registrazione-view i {
	margin-top: 40px;
	margin-right: 16px;
}

#accedi-switch {
	float: right;
	margin: -35px 0px 0px;
	font-size: 12px;
	color: white;
}

#accedi-switch a {
	color: white;
}

/* button */
.btn, .btn-large {
	background-color: #388e3c;
}

.btn:hover, .btn-large:hover {
	background-color: #388e3c !important;
}

/* color */
.bianco {
	color: white;
}

/* Carrello */
#carrello-view {
	margin-top: 5px;
}

#carrello-view .card {
	margin-bottom: 0.25rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#carrello-view .row {
	padding: 10px;
	margin-bottom: 0px;
}

#carrello-view .s4 {
	padding: 0px;
}

#carrello-view .s8 {
	padding-right: 0px;
}

#carrello-view img {
	width: 100%;
}

#carrello-view .card-content {
	padding: 0px;
}

.card-content .azienda, .disponibilita, .prezzo-cadauno {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.54) !important;
}

#carrello-view .nome-prodotto {
	margin-right: 27px;
}

#carrello-view .card-action {
	padding: 0px;
	border: 0px none;
	margin: 0px;
	margin-top: 10px;
}

#carrello-view .card-action a {
	margin: 0px;
	color: rgba(0, 0, 0, 0.87);
}

#carrello-view .card-action i {
	margin: 0px;
	border: 1px solid rgba(0, 0, 0, 0.54);
	border-radius: 50%;
	margin-top: 8px;
}

#carrello-view .card-action .info-prezzo {
	text-align: center;
}

#carrello-view .card-action .info-prezzo .row {
	padding: 0px;
	margin: 0px;
}

#carrello-view #incrementa-quantita {
	float: right;
}

#carrello-view #rimuovi-prodotto {
	top: 0;
	right: 0;
	position: absolute;
	color: rgba(0, 0, 0, 0.54);
	font-size: 20px;
	padding: 0.5rem;
}

#carrello-view #btn-bottom-container {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	z-index: 998;
}

#carrello-view .btn-large {
	color: white;
	width: 100%;
	border-radius: 0px;
}

#carrello-view .btn-large span {
	color: #1b5e20;
	margin: 0px 10px;
}

/* Riepilogo */
#riepilogo-view {
	background-color: rgb(238, 238, 238);
	padding: 0;
}

#riepilogo-view ul {
	box-shadow: 0 2px 2px #aaa;
	padding-bottom: 1px;
	border: 0;
}

#riepilogo-view li {
	display: block;
	border: 0;
}

#riepilogo-view .collection-header {
	border: 0px none;
	color: #388e3c;
	font-weight: bold !important;
	padding: 15px 0px 0px 30px;
	font-size: 13px;
}

#riepilogo-view label {
	left: 30px;
}

#riepilogo-view input {
	padding-left: 30px;
	border-color: #f2f2f2;
}

#riepilogo-view select {
	display: block;
	padding-left: 25px;
	border-top: 0;
}

select:focus {
	outline: unset;
}

#riepilogo-view .select-list {
	padding: 0;
}

#dati-personali li {
	padding: 10px 0px 0px 0px;
}

#dati-spedizione li {
	padding: 10px 0px 10px 30px;
}

#recapito-element {
	padding: 10px 0 0 0 !important;
}

#modalita-pagamento-list {
	margin-bottom: 0;
}

#modalita-pagamento-list select {
	border: 0px;
	border-bottom: 1px solid #f2f2f2;
}

#riepilogo-view #btn-bottom-container {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	z-index: 998;
}

#riepilogo-view .btn-large {
	color: white;
	width: 100%;
	border-radius: 0px;
}

#riepilogo-view .btn-large span {
	color: #1b5e20;
	margin: 0px 10px;
}

/* Scheda prodotto */
#scheda-prodotto-view {
	
}

#scheda-prodotto-view .carousel-slider {
	height: 250px;
	overflow: unset;
}

#scheda-prodotto-view .carousel .indicators {
	bottom: -50px;
}

#scheda-prodotto-view .carousel .indicators .active {
	background-color: #388E3C !important;
}

#scheda-prodotto-view .carousel .indicators .indicator-item {
	background-color: rgba(200, 200, 200, 0.5);
}

#scheda-prodotto-view .carousel-item {
	display: block;
	min-height: auto;
	background-image: url("../img/office.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%; /* 100% in altezza */
}

#scheda-prodotto-view #modifica-quantita a {
	margin: 0px;
	color: rgba(0, 0, 0, 0.87);
}

#scheda-prodotto-view #modifica-quantita i {
	margin: 0px;
	border: 1px solid rgba(0, 0, 0, 0.54);
	border-radius: 50%;
	margin-top: 8px;
}

#scheda-prodotto-view #info-prodotto {
	padding: 20px;
}

.grassetto {
	font-weight: bold;
}

.font-medio {
	font-size: 13px;
}

#scheda-prodotto-view #quantita {
	text-align: center;
	margin-top: 10px;
}

#scheda-prodotto-view .btn-large {
	width: 100%;
	padding: 0px 10px;
}

#scheda-prodotto-view .btn-large span {
	color: #1b5e20;
	margin: 0px 10px;
}

#scheda-prodotto-view #totale {
	color: white;
	display: inline;
	margin: 0;
}